* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: #333;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.5;
  overflow-x: hidden;
}

p {
  margin: 0.5rem 0;
}

.btn {
  padding: 5px;
  font-size: 1rem;
  border: none;
  border-radius: 5px;
  outline: none;
  cursor: pointer;
  transition: all 0.1s ease-in;
}

.btn:hover {
  color: #ccc;
  opacity: 0.8;
}

.btn:active {
  opacity: 0.8;
}

/* Page style */
.page-container {
  margin: 2rem 0;
  min-height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Questions styles */
.questions-wrapper,
.edit-view-wrapper {
  padding: 1rem;
  width: 60%;
  min-height: 80vh;
  border: 1px solid grey;
  border-radius: 10px;
}

.questions-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.load-btn {
  padding: 5px;
  color: #fff;
  background: teal;
  font-size: 1rem;
  border: none;
  border-radius: 5px;
  outline: none;
  cursor: pointer;
  transition: all 0.1s ease-in;
}

/* Question style */
.question {
  margin: 0.5rem 0;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #ccc;
}
.column:first-child {
  width: 80%;
}

.column:first-child p {
  max-width: 80%;
}
.column:last-child {
  width: 18%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.edit-btn {
  margin-bottom: 5px;
  width: 100%;
  color: #fff;
  background: cornflowerblue;
}

.delete-btn {
  width: 100%;
  color: #fff;
  background: crimson;
}

/* Edit view */

.edit-view-wrapper .row {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 90%;
}

.edit-view-wrapper input {
  padding: 0.5rem;
}

.edit-view-wrapper .btn {
  max-width: 80%;
  margin-bottom: 0.5rem;
}

.edit-view-wrapper .btn-add-answer {
  color: #fff;
  background: cornflowerblue;
}
.edit-view-wrapper .btn-remove-answer {
  color: #fff;
  background: coral;
}

.answer-wrapper .row {
  margin: 0.8rem 0;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.answer-wrapper input[type="text"] {
  padding: 0.5rem;
  border: 1px solid #333;
  border-radius: 5px;
  outline: none;
}

.answer-wrapper .cancel-btn {
  color: #fff;
  background: darkcyan;
}

.answer-wrapper .submit-btn {
  color: #fff;
  background: darkslateblue;
}
